/* 移动端窄屏 */

.mobilePhone_S {
    position: relative;
    /* overflow: hidden;
    position: fixed; */
    display: inline-block;
    width: 100%;
    /* width: 375px; */
    height: 100%;
    overflow-x: hidden;
}

.mobilePhone_S #header {
    min-width: auto;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 46px;
}

.mobilePhone_S #header>.header_item {
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
    text-align: center;
    overflow: auto;
    float: left;
    line-height: 20px;
}

.mobilePhone_S #weather {
    margin-top: 3px;
}

.mobilePhone_S #content {
    width: 100%;
    margin: 0;
    left: 0;
}

.mobilePhone_S #content>#seach {
    /* margin-top: 20px;
    margin-bottom: 40px; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.mobilePhone_S #content>#seach>.seach_from {
    width: 100%;
}

.mobilePhone_S #content>#seach>.seach_from>.seach_logo {
    margin: 0;
    /* width: 100%; */
}

.mobilePhone_S #content>#seach>.seach_from>.seach_logo>i {
    /* height: 50px;
    width: 50px; */
}

.mobilePhone_S #content>#seach>.seach_from>.seach_input {
    width: 60%;
    /* width: 65%; */
    margin: 0;
    /* margin-top: 20px; */
}

.mobilePhone_S #content>#seach>.seach_from>.seach_button {
    width: 20%;
    margin: 0;
    /* margin-top: 20px; */
}

.mobilePhone_S #collect {
    box-shadow: none;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mobilePhone_S #collect>.nav-group {
    width: 100%;
}

.mobilePhone_S .nav-group-name {
    display: none;
    width: 100%;
}

.mobilePhone_S .nav-group-name-text {
    font-size: 4rem;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
}

.mobilePhone_S .nav-group-content {
    display: block;
    width: 100%;
}

.mobilePhone_S .nav-group-unit {
    width: 25%;
    height: 85px;
    border: none;
    position: relative;
    display: inline-block;
}

.mobilePhone_S .nav-group-unit:hover {
    background-color: #ffffff00;
}

.mobilePhone_S .del-icon {
    width: 100%;
    padding: 0;
    height: 50px;
}

.mobilePhone_S .del-icon>i {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-size: 50% 50% !important;
    background-position: 50% 50%;
    padding: 10px;
    border: 2px solid #80bdff;
    border-radius: 50%;
    background-color: #ffffff;
}

.mobilePhone_S .nav-text {
    width: 100%;
    height: 20px;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.mobilePhone_S #bookmarks {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0 3.5%;
    left: 0;
    margin-bottom: 25px;
    box-shadow: none !important;
}

.mobilePhone_S .bookmarks-item {
    width: 23%;
    margin: 0;
    border: none;
}

.mobilePhone_S .bookmarks-item:hover {
    background-color: #ffffff;
}

.mobilePhone_S .bookmarks-item>a {
    position: relative;
    display: inline-block;
    width: 80%;
    padding: 0 3%;
    margin: 5px 10%;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #80bdff;
    border-radius: 5px;
}

.mobilePhone_S .bookmarks-item>a:hover {
    color: #6bc1ff;
}

.mobilePhone_S .bookmarks-item[couldClick='no'] {
    background-color: #ffffff;
}

.mobilePhone_S .bookmarks-item[couldClick='no']>a {
    border-color: #aeaeae;
    background-color: #ccc;
}

/*=============== 移动端宽屏 =============== */

.mobilePhone_M #header>.header_item {
    width: 50%;
    font-size: 15px;
    line-height: 30px;
}

.mobilePhone_M #weather {
    margin-top: 0;
    text-indent: 10px;
    text-align: left;
}

.mobilePhone_M #clock {
    text-align: right;
    text-indent: 10px;
}

.mobilePhone_M #header {
    height: 30px;
}

.mobilePhone_M .nav-text {
    font-size: 13px;
}

.mobilePhone_M .nav-group-unit {
    width: 19%;
}

.mobilePhone_M #collect {
    padding: 0 3%;
}

#center {
    position: fixed;
    width: 50%;
    border-right: 1px solid #000;
    height: 100%;
    display: inline-block;
    z-index: 999;
}