<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0"> -->
    <link rel="shortcut icon" href="http://54lxb.com/src/img/colourstar.ico" />
    <link rel="stylesheet" type="text/css" href="../../css/alone/navigation.css" />
    <link rel="stylesheet" type="text/css" href="../../css/alone/navigation_mobile.css" />
    <title>个人网址导航</title>
</head>

<body>
    <!-- <div id="navigation" class="mobilePhone"> -->
    <div id="navigation">
        <div id="header">
            <div class="header-wrap">
                <div id="weather">
                    <!--自动定位-->
                    <!-- <iframe width="125" scrolling="no" height="25" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%23&bdc=%23&icon=1&wind=0&num=1"></iframe> -->
                    <!--默认  横线 黑 透明无边框 经典 16 温州 未来1天  宽170  高25  不显示风力-->
                    <iframe width="144" scrolling="no" height="25" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&py=wenzhou&wind=1&num=1&site=16"></iframe>
                </div>

                <div id="clock"></div>
            </div>
        </div>
        <div id="content">
            <div id="seach">
                <!--百度搜索框代码-->

                <form id="baiduSeach" class=" seach_from" onSubmit="return baiduWithHttps(this)" action="http://www.baidu.com/baidu"
                    target="_blank">
                    <i id="bd_logo" class="seach_logo" alt="切换搜索引擎"></i>

                    <!-- <input class="b_ipt" type="text" onfocus="checkHttps" name="word" ng-model="seachWord" placeholder="{{seachWord}}"> -->
                    <input id="b_ipt" class="seach_input " type="text" onfocus="" name="word" placeholder="">
                    <input id="b_btn" class="seach_button " type="submit" value="百度">
                </form>
                <!--谷歌搜索框代码-->
                <form id="googleSeach" class="seach_from" method="get" action="http://www.google.com/search" target="_blank">
                    <i id="google_logo" class="seach_logo"  alt="切换搜索引擎"></i>
                    <!-- <input class="g_ipt" type="text" name="q" value="" ng-model="seachWord" placeholder="{{seachWord}}"> -->
                    <input id="g_ipt" class="seach_input " type="text" name="q" value="" placeholder="">
                    <input id="g_btn" class="seach_button " type="submit" name="btnG" value="Google">

                    <!-- 切换站内站外搜索 -->
                    <!-- <input type="radio" name="sitesearch" value="" checked>全球搜索     -->
                    <!-- <input type="radio" name="sitesearch" value="http://54lxb.com/"> 本站搜索 -->

                </form>
            </div>
            <div id="collect">
            </div>
        </div>

        <div id="bookmarks" class="">
        </div>
    </div>
    <!--导航-->
    <!-- <div class="edit-container">
                <div class="edit-container-right">
                    <div id="add-container" title="添加">添加</div>
                    <div id="edit-container" title="编辑">编辑</div>
                    <div id="sort-container" title="分类展示">分类显示</div>

                </div>
                <div id="add-container-elastic">
                    <div class="sug-content" action="">

                        <input type="text" class="sug-name" placeholder="名称">


                        <input type="text" class="sug-link" placeholder="网址">

                        <select class="sug-dir-input">
                            <option value="1">常用</option>
                            <option value="2">浏览</option>
                            <option value="3">知识</option>
                            <option value="4">工具</option>
                            <option value="5">图像</option>
                            <option value="6">未分类</option>

                        </select>
                        <div class="sug-button">添加网址</div>
                    </div>
                </div>
            </div> -->

    <!--弹出层背景遮罩-->
    <!-- <div id="elastic-background"></div> -->




    <script src="../../plugin/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="../../js/alone/navigation.js"></script>
</body>

</html>