/* 移动端 */

.mobilePhone {
    position: relative;
    /* overflow: hidden;
    position: fixed; */
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.mobilePhone #header {
    min-width: auto;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 46px;
}

.mobilePhone #header>.header_item {
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
    text-align: center;
    overflow: auto;
    float: left;
    line-height: 20px;
}

.mobilePhone #weather {
    margin-top: 3px;
}

.mobilePhone #content {
    width: 100%;
    margin: 0;
    left: 0;
}




.mobilePhone #content>#seach {
    /* margin-top: 20px;
    margin-bottom: 40px; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.mobilePhone #content>#seach>.seach_from {
    width: 100%;
}

.mobilePhone #content>#seach>.seach_from>.seach_logo {
    margin: 0;
    /* width: 100%; */
}

.mobilePhone #content>#seach>.seach_from>.seach_logo>i{
    /* height: 50px;
    width: 50px; */
}

.mobilePhone #content>#seach>.seach_from>.seach_input {
    width: 60%;
    /* width: 65%; */
    margin: 0;
    /* margin-top: 20px; */
}

.mobilePhone #content>#seach>.seach_from>.seach_button {
    width: 20%;
    margin: 0;
    /* margin-top: 20px; */
}






.mobilePhone #collect {
    box-shadow: none;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mobilePhone #collect>.nav-group {
    width: 100%;
}


.mobilePhone .nav-group-name {
    display: none;
    width: 100%;
}

.mobilePhone .nav-group-name-text {
    font-size: 4rem;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
}

.mobilePhone .nav-group-content {
    display: block;
    width: 100%;
}





.mobilePhone .nav-group-unit {
    width: 25%;
    height: 85px;
    border: none;
    position: relative;
    display: inline-block;
}

.mobilePhone .nav-group-unit:hover {
    background-color: #ffffff00;
}


.mobilePhone .del-icon {
    width: 100%;
    padding: 0;
    height: 50px;
}

.mobilePhone .del-icon>i {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-size: 50% 50% !important;
    background-position: 50% 50%;
    padding: 10px;
    border: 2px solid #80bdff;
    border-radius: 50%;
    background-color: #ffffff;
}

.mobilePhone .nav-text {
    width: 100%;
    height: 20px;
    padding: 0;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.mobilePhone #bookmarks {
    padding: 0;
    height: 100px;
    width: 100%;
    margin: 0;
    left: 0;
}

.mobilePhone .bookmarks-item {
    width: 25%;
    margin: 0;
    border: none;
}

.mobilePhone .bookmarks-item:hover {
    background-color: #ffffff;
}

.mobilePhone .bookmarks-item>a {
    position: relative;
    display: inline-block;
    width: 80%;
    padding: 0;
    margin: 5px 10%;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #80bdff;
    border-radius: 5px;
}

.mobilePhone .bookmarks-item>a:hover {
    color: #6bc1ff;
}

.mobilePhone .bookmarks-item[couldClick='no'] {
    background-color: #ffffff;
}

.mobilePhone .bookmarks-item[couldClick='no']>a {
    border-color: #aeaeae;
    background-color: #ccc;
}
