/* 移动端 */

body {
    font-size: 16px;
}

.mobilePhone #header {
    height: 5rem;
}

.mobilePhone #header #weather {
    height: 4rem;
    width: 5rem;
    margin-top: 4rem;
    margin-left: 6rem;
    transform: scale(3, 3);
}

.mobilePhone #header #clock {
    font-size: 2.5rem;
    width: 50%;
    line-height: 5rem;
    height: 5rem;
    text-align: right;
    margin-right: 2rem;
}

.mobilePhone #seach {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}

.mobilePhone .seach_from {
    height: 6rem;
    width: 100%;
}

.mobilePhone .seach_logo {
    height: 5rem;
    width: 5rem;
}

.mobilePhone .seach_input {
    width: 35rem;
    height: 5rem;
    border: 2px solid #c5c4c4;
}

.mobilePhone .seach_button {
    width: 10rem;
    height: 5.4rem;
    font-size: 2rem;
    line-height: 5rem;
    letter-spacing: 3px;
}

.mobilePhone #collect {
    box-shadow: none;
}

.mobilePhone .nav-group-name {
    /* display: block; */
    display: none;
    width: 100%;
}

.mobilePhone .nav-group-name-text {
    font-size: 4rem;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
}

.mobilePhone .nav-group-content {
    display: block;
    width: 100%;
}

.mobilePhone .nav-group-unit {
    width: 25%;
    height: 13rem;
    border: none;
}

.mobilePhone .del-icon {
    width: 100%;
    padding: 0;
}

.mobilePhone .del-icon>i {
    width: 3rem;
    height: 3rem;
    margin: 0 3rem;
    background-size: 50% 50% !important;
    background-position: 50% 50%;
    padding: 10%;
    border: 0.3rem solid #80bdff;
    border-radius: 50%;
    background-color: #ffffff;
}

.mobilePhone .nav-text {
    width: 100%;
    height: 3rem;
    padding: 0;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
}

.mobilePhone #bookmarks {
    box-shadow: none;
    padding: 0;
    margin-top: 0;
}

.mobilePhone .bookmarks-item {
    width: 25%;
    margin: 0;
    border: none;
}

.mobilePhone .bookmarks-item>a {
    position: relative;
    display: inline-block;
    width: 80%;
    padding: 0;
    margin: 0.5rem 10%;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    border: 0.2rem solid #80bdff;
    border-radius: 1rem;
    background-color: #ffffff;
}

.mobilePhone .bookmarks-item[couldClick='no'] {
    background-color: #ffffff;
}

.mobilePhone .bookmarks-item[couldClick='no']>a {
    border-color: #aeaeae;
    background-color: #ccc;
}